.container {
    display: grid;
    grid-template-columns: 30% 65%;
    grid-template-rows: 30px 1fr;
    column-gap: 5%;
}

.heading {
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: flex-start;
}

.heading {
    font-weight: 500;

}

.friend {
    padding: 0 15px;
    height: 400px;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-items: center;
    align-items: center;
}

.active {
    box-shadow: 0 12.54700756072998px 22.584613800048828px 0 rgba(110, 87, 108, 0.4);
    box-shadow: 0 2.509401559829712px 15.05640983581543px 0 rgba(110, 87, 108, 0.3);
    border: none !important;
}

.friend a {
    text-decoration: none;
    font-weight: 500;
    color: #574E64;
    border-radius: 8px;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.friend a:hover {
    color: #C9A99C;
    border: 1px solid #CFC8D6;
}

.friend a img {
    width: 50px;
    margin-right: 10px;
}

.send_new_message {
    display: flex;
    flex-direction: column;
}

.send_new_message textarea {
    width: 95%;
}

.chats_body {
    flex-direction: column-reverse;
}

.chat {
    padding: 10px 15px;
    height: 400px;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: flex-end;
    justify-items: left;
    grid-column: 2/3;
    grid-row: 2/3;
    /*border: 1px solid #CFC8D6;*/
    border-radius: 5%;
    box-shadow: 0 12.54700756072998px 22.584613800048828px 0 rgba(110, 87, 108, 0.2);
    box-shadow: 0 2.509401559829712px 15.05640983581543px 0 rgba(110, 87, 108, 0.3);
}

.chat textarea {
    margin-top: 15px;
}

