.header {
    margin: 0 auto;
    width: 80%;
    box-sizing: border-box;
    color: #FCFCFB;
    background-color: #C9A99C;
    position: relative;
}

.header .logo {
    width: 300px;
    margin: 20px 40px;
}

.header .six {
    width: 44%;
    position: absolute;
    top: 15px;
    right: 15px;
}
