.header {
    margin: 0 auto;
    width: 80%;
    box-sizing: border-box;
    color: #FCFCFB;
    background-color: #C9A99C;
    position: relative;
}

.header .logo {
    width: 300px;
    margin: 20px 40px;
}

.header .six {
    width: 44%;
    position: absolute;
    top: 15px;
    right: 15px;
}

.header .auth {
    background-color: #856073;
    width: 70px;
    position: absolute;
    right: 6px;
    top: 35px;
    text-align: center;
}

.header .auth a {
    color: #EDE8E3;
}
